
body {
    margin-left: 0%;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: "Helvetica", sans-serif;
    font-size: 15em;
    text-align: center;
    color: rgba(255, 0, 0, 0.5);
}

div,
ul {
    opacity: 0.75;
    outline-color: aqua;
    box-shadow: 50px 50px 50px "000000";
    letter-spacing: inherit;
    line-height: normal;
    text-shadow: 5px 5px 5px #333302;

}
